<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Orders</h3>
        <div class="card shadow">
          <div class="card-header py-3 d-flex justify-content-between">
            <p class="text-primary m-0 fw-bold">Create a new order</p>
          </div>
          <form class="ml-4 mr-4 mt-4 mb-4">
            <div class="form-group">
              <label for="Type">Type</label>
              <input
                type="text"
                class="form-control"
                id="Type"
              />
            </div>
            <div class="form-group">
              <label for="Date">Date</label>
              <input
              type="text"
                class="form-control"
                id="Date"
              />
            </div>
            <div class="form-group">
              <label for="Status">Status</label>
              <input
                type="text"
                class="form-control"
                id="Status"
              />
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary mr-1" (click)="submit()">Submit</button>
              <a class="btn btn-secondary" routerLink="/orders/">cancel</a>
            </div>
          </form>
          </div>
        </div>
      </div>
  </div>
</div>
