<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
          <div class="container-fluid">
              <h3 class="text-dark mb-4">Orders</h3>
              <div class="card shadow">
                  <div class="card-header py-3 d-flex justify-content-between">
                      <p class="text-primary m-0 fw-bold">Manage all your orders</p>
                      <a href="/order/create" class="btn btn-dark btn-sm" routerLink="create">Create order</a>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive table" id="dataTable" role="grid" aria-describedby="dataTable_info">
                          <table class="table my-0" id="dataTable">
                              <thead>
                                  <tr>
                                      <th>id</th>
                                      <th>type</th>
                                      <th>date</th>
                                      <th>status</th>
                                      <th>actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let item of list; let i = index">
                                  <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm" (click)="editItem(i)">
                                          Edit
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(i)">
                                          Delete
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>